@charset "UTF-8";
 /*ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width: 768px) {
html{
  height: auto;
  width:auto;
}
body{
  font-family: YuGothic,'Yu Gothic',sans-serif;
  margin: 0px;
  background-color: #EEEEEE;
  height: auto;
  /* width: 1000px; */
}


.header {
  color:white;
  background-color:#333333;
  height: 140px;
  margin: 0px;
  padding:0px;
}
.title{
  padding:23px 0px 0px 130px;
  /* /* text-align:left; */
  margin: 0px;
  width: 500px;
  float: left;
}

.title h1{
  margin: 0px;
  list-style: none;
}

.title h1 a{
  text-decoration: none;
  color:white;
}
.title h1 a:hover{
 color:#CCCCCC;
}
.title p {
  color:white;
  margin: 0px;
  font-size: 15px;
}

.header-list{
  float: right;
  margin: 70px 30px 0px 0px;
  width: 400px;
}

.header-list li{
  font-size: 14px;
  float: left;
  list-style: none;
  margin: 0% 5%;
}
.header-list li a{
  text-decoration: none;
  color:white;
}
.header-list li a:hover{
 color:#CCCCCC;
}
/* ------------------------------------------------------------------------------------header　ここまで */


.header-bottom{
  background-color: white;
  font-size: 14px;
  margin-bottom: 30px;
}
.update-home{
  margin: 0px;
  padding: 28px 0px 0px 130px;
}

.update-home a{
  text-decoration: none;

}
.update-home a:hover{
 color:#CCCCCC;
}
.header-bottom h2{
  margin:0px;
  padding: 0px 0px 0px 130px;
}
.update-text{
  margin:0px;
  padding: 0px 0px 30px 130px;
}


/* ------------------------------------------------------------------------------------header-bottom　ここまで */


.contact-div{
  text-align: center;
  height: 700px;

}
.contact-form{
  width: 700px;
  font-size: 17px;
  height: 700px;
  margin:0px auto;
}
form{
  height: 700px;
}
.contact-form p{
  text-align: left;
  margin: 7% 0% 0% 0%;
}
input{
  width: 700px;
  height: 35px;
  margin: 0px 0px;
  border: 1px solid #dee7ec;
}
textarea{
  width: 700px;
  height: 250px;
  border: 1px solid #dee7ec;
}
.contact-submit{
  background-color: #AAAAAA;
  margin-top: 50px;
  height: 60px;
  border: 1px solid #dee7ec;
  cursor: pointer;
}
.contact-submit:hover{
  transition : 0.5s;
  color:#000066;
  box-shadow:none;
  background    : #EEFFFF;     /* 文字色     */
}

/* ------------------------------------------------------------------------------------main　ここまで */

.footer{
  background-color: black;
  color: white;
  height: 112px;
  margin-top: 55px;
}
.footer-title{
  padding:30px 0px 0px 120px;
  margin: 12px 0px 0px 0px;
  width: 250px;
  float: left;
}

.footer-title h1{
  font-size: 20px;
  margin: 0px;
  }
.footer-title p {
    color:white;
    font-size: 15px;
  }
.footer-list{
  float: right;
  margin:0px 40px 0px 0px;
  width: 350px;
  font-size:20px;
}
.footer-list li{
  float: left;
  list-style: none;
  margin: 36px 20px 0px 15px;
}

.footer-list li a{
  text-decoration: none;
  color:white;
}
.footer-list li a:hover{
 color:#CCCCCC;
}
.footer p{
  font-size: 12px;
  text-align: center;
  padding: 87px 0px 0px 0px;
}
}

 /*---------------ウィンドウ幅が最大479pxまでの場合に適用-------------------------*/
@media screen and (max-width:479px) {
html{
  height:100%;
  width:auto;
}

*{
  margin:0px;
  padding:0px;
}

body{
  font-family: YuGothic,'Yu Gothic',sans-serif;
  background-color: #EEEEEE;
  height: auto;
}

.header {
  color:white;
  background-color:#333333;
  height: 120px;
}

.title{
  text-align: center;
}

.title h1 a{
  font-size:40px;
  list-style: none;
  text-decoration: none;
  color:white;
}

.title h1 a:hover{
  color:#CCCCCC;
}

.title p {
  color:white;
  font-size: 13px;
}

.header-list li{
  float: right;
  margin: 8px 20px 0px 0px;
  list-style: none;
  font-size: 14px;
}

.header-list li a{
  text-decoration: none;
  color:white;
}

/* ------------------------------------------------------------------------------------header　ここまで */

.header-bottom{
  display:none;
}

/* ------------------------------------------------------------------------------------header-bottom　ここまで */

.contact-div{
  text-align: center;
}

.contact-form{
  margin:0px auto;
}

form{
  text-align: center;
  height: 380px;
}

.contact-form p{
  margin: 7% 0% 0% 0%;
}

input{
  width: 250px;
  height: 35px;
  border: 1px solid #DDDDDD;
}

textarea{
  border: 1px solid #DDDDDD;
  height: 120px;
  width: 250px;
}

.contact-submit{
  background-color: #AAAAAA;
  border: 1px solid #dee7ec;
  cursor: pointer;
    margin: 7% 0% 0% 0%;

}

.contact-submit:hover{
  transition : 0.5s;
  color:#000066;
  box-shadow:none;
  background    : #EEFFFF;     /* 文字色     */
}

/* ------------------------------------------------------------------------------------main　ここまで */

.footer{
  background-color: black;
  color: white;
  height: 112px;
  margin-top: 55px;


}

.footer-title h1{
  text-align: center;
  margin: 0px;
  }

.footer-list li{
  text-align: right
}

.footer-list li a{
  text-decoration: none;
  color:white;
  margin: 30px 30px 0px 0px;
}

.footer-list li a:hover{
  color:#CCCCCC;
}

.footer p{
  font-size: 12px;
  text-align: center;
}
}